<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Registrazione</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding class="form-content">

	
<form [formGroup]="form" (ngSubmit)="signUp()" novalidate> <!-- form fatto con formBuilder per la validazione-->
	<ion-list>

      <ion-item>
            <ion-label floating>Nome utente</ion-label>
            <ion-input formControlName="username" name= "username" type="text"  maxlength="30"required></ion-input>
      </ion-item>
            <p ion-text *ngIf="form.controls.username.touched && form.controls.username.invalid || (submitted==true && form.controls.username.invalid)" color="danger" padding-left>
                    Devi inserire un nome utente
            </p>
      <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input formControlName="email" name="email" type="email"   minlength="10" maxlength="50" required >{{newUser.email}}</ion-input>
      </ion-item>

            <p ion-text *ngIf="form.controls.email.touched && form.controls.email.invalid || (submitted==true && form.controls.email.invalid)" color="danger" padding-left>
                Devi inserire un' email corretta
            </p>

        <ion-item>
            <ion-label floating>Codice Fiscale</ion-label>
            <ion-input formControlName = "cf" name= "cf" type="text"  minlength="16" maxlength="16" required ></ion-input>
        </ion-item>
            <p ion-text *ngIf="form.controls.cf.touched && form.controls.cf.invalid || (submitted==true && form.controls.cf.invalid)" color="danger" padding-left>
                    Codice fiscale non corretto
            </p>
        <div formGroupName="passCtrl">
        <ion-item >
            <ion-label floating>Password</ion-label>
            <ion-input clearOnEdit="false" formControlName = "password" name="password" type="password"  required minlength="6" maxlength="50"></ion-input>
        </ion-item>    
            <p ion-text *ngIf="form.controls.passCtrl.controls.password.touched && form.controls.passCtrl.controls.password.invalid || (submitted==true && form.controls.passCtrl.controls.password.invalid)" color="danger" padding-left>
                    La password deve essere di almeno 6 caratteri
            </p>
        

        <ion-item>
            <ion-label floating>Conferma Password </ion-label>
            <ion-input clearOnEdit="false" formControlName = "confirmPass" name="confirmPass" type="password"  required minlength="6" maxlength="50"></ion-input>
      </ion-item>    
            <p ion-text *ngIf="(form.controls.passCtrl.controls.confirmPass.touched &&  form.controls.passCtrl.controls.confirmPass.invalid) || (submitted==true && form.controls.passCtrl.controls.confirmPass.invalid)"  color="danger" padding-left>
                    Le due password non corrispondono
            </p>

        </div>
        
    </ion-list>
<div padding>
  <button ion-button type="submit">Registrati</button>
</div>
</form>
    
</ion-content>
