page-report_location{
          .scroll {
        height: 80%
      }
 
      #map {
        width: 100%;
        height: 80%;
      }

.ios, .md {
 
    page-report_location {
 
      .scroll {
        height: 8%
      }
 
      #map {
        width: 100%;
        height: 80%;
      }
 
    }
}
        
}  
